<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        #mess {
            text-align: center
        }

        .value {
            width: 200px;
            height: 200px;
            border: 1px solid;
            text-align: center;
            line-height: 200px;
            display: inline-block;
        }

        .box {
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>
<div id="mess">正在连接...</div>
<div class="box">
    <div class="value" id="value1">OPPO R9</div>
    <div class="value" id="value2">VIVO X9</div>
    <div class="value" id="value3">IPHONE8 PLUS</div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script>
    if (window.WebSocket) {
        var ws = new WebSocket('ws://127.0.0.1:8001');

        ws.onopen = function () {
            console.log('连接服务器成功');
            ws.send('startting...');
        }
        ws.onclose = function () {
            console.log('服务器关闭');
        }
        ws.onerror = function () {
            console.log("连接出错");
        }

        ws.onmessage = function (e) {
            document.querySelector(".box").onclick = function (e) {
                ws.send('当前点击框的内容为:<font style="color:red;" >' + e.target.innerHTML+'</font>');
            }
            $('#mess').append(e.data + '</br>');
        }
    }
</script>
</body>
</html>